body {
    margin: 0;
    background: #000000;
    font-family: Arial, sans-serif;
}

.ylapalkki {
    background: #afafaf;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.valikko {
    display: flex;
    gap: 20px;
}

.nappula {
    background: #ffffff;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.2s;
}

.nappula:hover {
    background: #d5d5d5;
}

.kontti {
    display: flex;
    height: calc(100vh - 80px);
}

.sivupalkki {
    width: 200px;
    background: #3c3c3c;
    padding: 20px;
    box-sizing: border-box;
}

.vasen {
    border-right: 2px solid #696969;
}

.oikea {
    border-left: 2px solid #696969;
}

.sisalto {
    flex: 1;
    background: #696969;
    padding: 20px;
    box-sizing: border-box;
}

.mini-kuva {
    width: 100px;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
}

.keskus-lataa {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.iso-lataa {
    background: #ffd000;
    padding: 15px 40px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border-radius: 12px;
    box-shadow: 0 0 20px #ffd000aa;
    transition: 0.2s;
}

.iso-lataa:hover {
    background: #ffec66;
    box-shadow: 0 0 30px #ffec66aa;
}

.popup-tausta {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-ikkuna {
    background: #1f1f1f;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    color: white;
    box-shadow: 0 0 20px black;
    border: 2px solid #444;
}

.popup-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #4a90e2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

.popup-btn:hover {
    background: #357ac9;
}
